<%= form_tag entries_path do %>
    <% if @invalid_entries %>
        <div id="error-messages">
            <p> Date and Number of hours should be present</p>
        </div>
    <% end %>
    <% @entries.each do |entry| %>
        <div class="time-entry-row">
            <%= fields_for 'entries[]', entry do |f| %>
                <span class="fieldset"> <%= f.select :user_id, User.all.map{ |u| [u.name, u.id] } %> </span>
                <span class="fieldset"> <%= f.select :project_id, Project.all.map{ |p| [p.name, p.id] } %> </span>
                <span class="fieldset"> <%= f.date_field :date %> </span>
                <span class="fieldset">
                    <%= f.label :Number_of_hours %>
                    <%= f.number_field :duration %>
                </span>

                <span class="fieldset">
                    <%= f.select :billable, [["Billable",true], ["Not Billable", false]] %>
                </span>

                <span class="fieldset">
                    <%= f.label :description %>
                    <%= f.text_field :description %>
                </span>
            <% end %>
        </div>
    <% end %>
    <div class="actions">
        <%= submit_tag "Add entries", id: "add-time-entries-button" %>
    </div>
<% end %>
